// roughly reset some default style rules of uas
*
  margin 0
  padding 0
  list-style none

// react app root container
#app
  display flex
  align-items flex-start
  flex-wrap wrap
  gap 20px
  width 60vw
  min-width 800px
  margin auto

  // page header, no wrap
  > header
    flex-shrink 0
    width 100%

  // side menu container of entities list
  > aside
    position sticky
    top 20px
    left 0
    min-width 200px
    padding 20px
    background #fafafa
    border-radius 10px

  // form container takes all the rest space
  > main
    flex-grow 1
    margin 20px auto